<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Calculator</title>


<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>

<script src="js/stuff.js"></script>
<link href="css/style.css" rel="stylesheet" type="text/css" />

<script type='text/javascript'
	src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
<script type='text/javascript' src="js/xml2json.js"></script>
<script src="js/soapclient.js"></script>
<script src="js/angular.soap.js"></script>

<script>
	function soapRequest() {
		var str = '<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:con="http://controller"><soapenv:Header/><soapenv:Body><con:Addition><con:number1>2</con:number1><con:number2>3</con:number2></con:Addition></soapenv:Body></soapenv:Envelope>';

		function createCORSRequest(method, url) {
			var xhr = new XMLHttpRequest();
			if ("withCredentials" in xhr) {
				xhr.open(method, url, false);
			} else if (typeof XDomainRequest != "undefined") {
				alert
				xhr = new XDomainRequest();
				xhr.open(method, url);
			} else {
				console.log("CORS not supported");
				alert("CORS not supported");
				xhr = null;
			}
			return xhr;
		}

		var xhr = createCORSRequest("POST",
				"http://localhost:8080/CalculatorWS/services/Calculator?wsdl");
		if (!xhr) {
			console.log("XHR issue");
			return;
		}
		xhr.onload = function() {
			var results = xhr.responseText;
			console.log(results);
		}
		xhr.setRequestHeader('Content-Type', 'text/xml');
		xhr.send(str);

	}
</script>


</head>
<body data-ng-app="CalculatorApp" data-ng-controller="Cal">


	<h1>This is a calculator</h1>

	<h3>Addition</h3>

	<!-- <label>Enter the first number:</label>
	<input type="text" name="input" data-ng-model="number1" data-ng-keyup="AddNumbers()">


	<label>Enter the second number:</label>
	<input type="text" name="input" data-ng-model="number2" data-ng-keyup="AddNumbers()">


	<p>{{ sum }}</p> -->

	<label>Enter the first number:</label>
	<input type="text" name="input" data-ng-model="number1">


	<label>Enter the second number:</label>
	<input type="text" name="input" data-ng-model="number2">


	<p>{{AResult}}</p>

	<p>{{response}}</p>

<input type="button" value="SOAP Request" onclick="soapRequest();" />






</body>
</html>